html, body {
  height: 100%;
  font-size: 1.1em;
}

body {
  background: url("http://localhost:8080/images/background.jpg") no-repeat center center fixed;
  background-size: cover;
}

#navbarNavDropdown {
  position: relative;
  right: 4%;
}

a {
  color: lightgreen;
}

a:hover {
  color: green;
}

.center > p{
  margin: auto;
}

.center {
  text-align: center;
  width: 100%;
  z-index: 6;
  padding: 10px 0;
}

.dropdown-menu {
  background-color: black;
}

.dropdown-item {
  color: white;
}

.navbar-nav {
  justify-content: center;
  text-align: center;
}

.nav-item {
  margin: 0 auto;
  text-align: center;
  margin: 5px;
  background-color: black;
  border-radius: 10px;
  max-width: 216px;
}

.card {
  padding: 10px;
  color: white;
  background-color: #343a40;
  margin: 10px auto;
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  flex-wrap: wrap;
}

.thumbnail, .card-content, .card-buttons {
  padding: 20px;
  margin: 0 auto;
}

.card-content {
  width: 50%;
  min-width: 200px;
}

.thumbnail {
  height: 200px;
  width: 200px;
  border-radius: 25px;
}

h4 {
  text-align: center;
}

hr {
  border-color: white;
}

.btn {
  margin: 10px auto;
}

.subLI {
  color: darkgrey;
}

.alignLists {
  text-align: center;
}

ul {
  display: inline-block;
  margin: auto;
  text-align: left;
}