<!doctype html>
<html lang="en">
  <head>
    <title>Logan Sinclair</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="google-site-verification" content="5sn51n8oB4mZVMO9eHmCRG0uoFN_xncy_RKrM7xdzN0" />
    <meta name="description" content="Logan Sinclair's personal website where you can find several of his projects." />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/libs/bootstrap.min.css">
    <link rel="stylesheet" href="/css/stylesheet.css">
  </head>
