<% include ../partials/head %>
<% include ../partials/header %>
<div class="card">
  <h1 class="center">404</h1>
</div>
<div class="card">
  <h1 class="center">UH-OH! That Page Does Not Exist :'(</h1>
</div>
<div class="card">
  <h1 class="center"> <a class="nav-link" href="/">Return to Home</a> </h1>
</div>
<% include ../partials/footer %>
