<% include ../partials/head %>
<% include ../partials/header %>
<div class="card">
  <h1 class="center">About</h1>
</div>
<div class="card">
  <h4 class="center">General</h4>
  <p class="center">I am a full stack developer who loves coding. I am very fast learner and keep a good attitude, even with the most difficult bugs</p>
</div>
<div class="card">
  <h4 class="center">Programming Technologies</h4>
  <div class="col-md-6 alignLists">
    <h6>Frontend</h6>
    <ul>
      <li>HTML</li>
      <li>CSS</li>
      <li class="subLI">Bootstrap</li>
      <li>JavaScript</li>
      <li class="subLI">JQuery</li>
      <li class="subLI">Socket.io</li>
    </ul>
  </div>
  <div class="col-md-6 alignLists">
    <h6>Backend</h6>
    <ul>
      <li>NodeJS</li>
      <li class="subLI">ExpressJS</li>
      <li class="subLI">EJS</li>
      <li class="subLI">Socket.io</li>
      <li>Java(Basics)</li>
      <li>C#(Basics)</li>
    </ul>
  </div>
</div>
<div class="card">
  <h4 class="center">General Technologies</h4>
  <ul>
    <li>Windows</li>
    <li>Linux</li>
    <li>Git</li>
    <li>VS Code, Sublime, Atom</li>
    <li>Android Studio(Basics)</li>
    <li>Unity3d(Basics)</li>
    <li>Blender(Basics)</li>
  </ul>
</div>
<div class="card">
  <h4 class="center">History</h4>
  <p>I begin programming in my early teens and have been hooked ever since. My first programs were simple Windows Batch quiz scripts. 
    I then dabbled back and forth between languages before settling on web development. I have since created several online projects 
    (which can be found on my <a href="/projects">Projects Page</a>).
  </p>
</div>
<% include ../partials/footer %>
