<% include ../partials/head %>
<% include ../partials/header %>
<div class="card">
  <h1 class="center">About</h1>
</div>
<div class="card">
  <p>My name is Logan Sinclair and I am a full stack web developer</p>
</div>
<% include ../partials/footer %>
