<% include ../partials/head %>
<% include ../partials/header %>
<div class="card">
  <h1 class="center">Hi, I'm Logan Sinclair</h1>
  <h4 class="center">Full Stack Web Developer</h4>
</div>
<div class="card">
  <h2 class="center">Projects</h2>
</div>
<div class="card">
  <img src="/images/snakethumb.jpg" class="thumbnail" alt="project thumbnail">
  <div class="card-content">
    <h4>Snake</h4>
    <hr>
    <p>A remake of the original snake game, created in my free time using HTML Canvas</p>
  </div>
  <div class="card-buttons">
    <a class="btn btn-secondary" name="button" href="/projects/snake/index.html" rel="noopener" target="_blank">View Project</a> <br />
    <a class="btn btn-secondary" name="button" href="https://github.com/LoganS1/Snake-Game" rel="noopener" target="_blank">View on Github</a>
  </div>
</div>
<div class="card">
  <img src="/images/bigmconstructionthumb.jpg" class="thumbnail" alt="project thumbnail">
  <div class="card-content">
    <h4>BigMConstruction.com</h4>
    <hr>
    <p>The first website I built. This was for a local oil/gas pipeline
      construction company that reached out to me to build a website for them.</p>
  </div>
  <div class="card-buttons">
    <a class="btn btn-secondary" name="button" href="http://bigmconstruction.com" rel="noopener" target="_blank">View Project</a> <br />
  </div>
</div>
<div class="card">
  <img src="/images/langstonsantthumb.jpg" class="thumbnail" alt="project thumbnail">
  <div class="card-content">
    <h4>Langston's Ant</h4>
    <hr>
    <p>A Canvas project I created off the Langston's Ant algorithm <a href="https://en.wikipedia.org/wiki/Langton%27s_ant" rel="noopener" target="_blank">Here</a>.</p>
  </div>
  <div class="card-buttons">
    <a class="btn btn-secondary" name="button" href="/projects/langstonsAnt/index.html" rel="noopener" target="_blank">View Project</a> <br />
  </div>
</div>
<div class="card">
  <img src="/images/torpedoedthumb.jpg" class="thumbnail" alt="project thumbnail">
  <div class="card-content">
    <h4>Torpedoed.fun</h4>
    <hr>
    <p>A project I did to learn the basics of the canvas element and backend NodeJS paired with Socket.io</p>
  </div>
  <div class="card-buttons">
    <a class="btn btn-secondary" name="button" href="http://torpedoed.fun" rel="noopener" target="_blank">View Project</a> <br />
    <a class="btn btn-secondary" name="button" href="https://github.com/LoganS1/Torpedoed.fun" rel="noopener" target="_blank">View on Github</a>
  </div>
</div>
<% include ../partials/footer %>
