<% include ../partials/head %>
<% include ../partials/header %>
<div class="card">
  <h1 class="pageTitle">Hi, I'm Logan Sinclair</h1>
  <h4 class="pageTitle">Full Stack Web Developer</h4>
</div>
<div class="card center">
  <p>Visit the <a class="btn btn-secondary" href="/about">About Page</a> to learn about me</p>
</div>
<div class="card center">
  <p>Visit the <a class="btn btn-secondary" href="/awards">Awards Page</a> to see awards I have won</p>
</div>
<div class="card center">
  <p>Visit the <a class="btn btn-secondary" href="/projects">Projects Page</a> to see links to my projects</p>
</div>
<div class="card center">
  <p>Visit the <a class="btn btn-secondary" href="/contact">Contact Page</a> to see my contact info</p>
</div>
<div class="card center">
  <p>Visit the <a class="btn btn-secondary" href="/resume">Resume Page</a> to see my work experience</p>
</div>
<% include ../partials/footer %>
