<% include ../partials/head %>
<% include ../partials/header %>
<div class="card">
  <h1 class="center">Hi, I'm Logan Sinclair</h1>
  <h4 class="center">Full Stack Web Developer</h4>
</div>
<div class="card">
  <h4 class="center">Click the links above to learn more about me!</h4>
</div>
<% include ../partials/footer %>
